<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sales Account</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../../Styling/bootstrap.min.css">
    <link rel="stylesheet" href="../../Styling/sales.css">
</head>

<body>

    <header class="erp-header">
        <nav class="erp-navbar">
            <!-- Left -->
            <div class="nav-left">
                <div class="logo">
                    <img src="../../Assets/nav-bar.png" alt="logo" class="w-75">
                </div>

                <div class="search-box">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="Search task">
                </div>
            </div>

            <!-- Right -->
            <div class="nav-right">
                <div class="nav-icons">
                    <i class="fa-regular fa-envelope"></i>
                    <i class="fa-solid fa-calendar-days"></i>
                    <i class="fa-regular fa-bell"></i>
                    <i class="fa-solid fa-download"></i>
                    <i class="fa-regular fa-sun"></i>
                    <i class="fa-solid fa-globe"></i>
                </div>

                <div class="user-info">
                    <img src="../../Assets/Guset-Avatar.png" alt="user">
                    <div>
                        <span class="name">Hoor Ahmed</span>
                        <span class="email">Hoor20@mail.com</span>
                    </div>
                </div>
            </div>
        </nav>
    </header>


    <div class="erp-layout">

        <!-- SIDEBAR -->
        <aside class="erp-sidebar">
            <ul class="sidebar-menu">
                <li class="active">
                    <i class="fa-solid fa-chart-line"></i>
                    
                </li>

                <li>
                    <i class="fa-solid fa-users"></i>
                    
                </li>

                <li>
                    <i class="fa-solid fa-file-invoice"></i>
                                    </li>

                <li>
                    <i class="fa-solid fa-box"></i>
                                    </li>

                <li>
                    <i class="fa-solid fa-gear"></i>
                                    </li>
            </ul>
        </aside>

        <!-- MAIN CONTENT -->
        <main class="erp-content">
            <!-- page content here -->
        </main>

    </div>


    <script src="../../Scripting/bootstrap.bundle.min.js"></script> <!--Bootstrap JS There-->
    <script src="../../Scripting/main.js"></script>
</body>

</html>