<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> 
    <meta name="keywords" content=""> 
    <meta name="description" content="">
    <meta name="author" content="Ahmed Ihab"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP</title> 
    <link rel="stylesheet" href="../../Styling/bootstrap.min.css"> 
    <link rel="stylesheet" href="Font/OldStandardTT/OldStandardTT-Italic.ttf"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../../Styling/auth.css"> 
    

</head>

<body>
<section class="register d-flex flex-column align-items-center justify-content-center">


     <!-- Logo above card -->
    <div class="logo-container mb-4">
        <img src="../../Assets/auth.png" class="logo" alt="ERP Logo">
    </div>



    <div class="register-card">

        <!-- Logo -->
        <div class="text-center mb-4">
            <h4 class="fw-bold mb-3">Email OTP Verification</h4>

        <p class="text-muted mb-4">
            We sent a code to <strong>info@example.com</strong>
        </p>

        <!-- OTP Inputs -->
        <div class="otp-inputs mb-3">
            <input type="text" maxlength="1" class="otp-box" />
            <input type="text" maxlength="1" class="otp-box" />
            <input type="text" maxlength="1" class="otp-box" />
            <input type="text" maxlength="1" class="otp-box" />
        </div>

        <!-- Resend -->
        <div class="small mb-4">
            Didn't receive code.
            <a href="#" class="resend">Resend Code</a>
            <span class="timer text-danger ms-2">00:45</span>
        </div>

        <!-- Button -->
        <button class="btn btn-erp w-100" onclick="window.location.href='../Auth/reset.html'">
            Verify & Proceed
        </button>

          
    </div>

</section>






    <script src="../../Scripting/bootstrap.bundle.min.js"></script> <!--Bootstrap JS There-->
    <script src="../../Scripting/main.js"></script> 
</body>

</html>