<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="Ahmed Ihab">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset</title>
    <link rel="stylesheet" href="../../Styling/bootstrap.min.css">
    <link rel="stylesheet" href="Font/OldStandardTT/OldStandardTT-Italic.ttf">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../../Styling/auth.css">


</head>

<body>

    <section class="register d-flex flex-column align-items-center justify-content-center">


        <!-- Logo above card -->
        <div class="logo-container mb-4">
            <img src="../../Assets/auth.png" class="logo" alt="ERP Logo">
        </div>



        <div class="register-card">

            <!-- Logo -->
            <div class="text-center mb-4">
                <h4 class="mt-3 fw-bold">Reset Password</h4>
            </div>

            <form action="updated.html" method="#">

                <!-- Password -->
                <label for="password">Password</label>
                <div class="mb-3 input-group custom-input">
                    <span class="input-group-text">
                        <i class="fa-solid fa-lock"></i>
                    </span>
                    <input type="password" id="password" class="form-control password-field" placeholder="********">
                    <span class="input-group-text toggle-password">
                        <i class="fa-solid fa-eye-slash"></i>
                    </span>
                </div>

                <!-- Confirm Password -->
                <label for="confirm-password">Confirm Password</label>
                <div class="mb-3 input-group custom-input">
                    <span class="input-group-text">
                        <i class="fa-solid fa-lock"></i>
                    </span>
                    <input type="password" id="confirm-password" class="form-control password-field"
                        placeholder="********">
                    <span class="input-group-text toggle-password">
                        <i class="fa-solid fa-eye-slash"></i>
                    </span>
                </div>

                <p class="text-center small">
                    Didn't Receive Code?
                    <a href="#" class="fw-bold">Resend Code</a>
                </p>



                <!-- Button -->
                <button type="submit" class="btn btn-erp w-100 mb-3">
                    Verify & Proceed
                </button>



            </form>
        </div>

    </section>




    <script src="../../Scripting/bootstrap.bundle.min.js"></script> <!--Bootstrap JS There-->
    <script src="../../Scripting/main.js"></script>
</body>

</html>